body {
    font-family: Helvetica, sans-serif;
}	


table { 
	border:2px solid;
	border-color: #808080;
	margin-left:10px;
	margin-bottom:20px;
	table-layout: auto;
	border-collapse: collapse;
}

table td {
    border: 1px solid;
    padding: 4px;
    margin: 2px;
}


