<!DOCTYPE html>



<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-store" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui-timepicker-addon.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/beamteam.css" />
    <style>
      html, body, #map-canvas {
        margin: 0;
        padding: 0;
        height: 100%;
      }
    </style>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="{{STATIC_URL}}js/jquery-ui-timepicker-addon.js"></script>
    <script src="{{STATIC_URL}}js/beamteam.js"></script>
    <script src="{{STATIC_URL}}js/GeoJSON.js"></script>
    
  </head>
  <body onload="boot()">
    <h1>beamhive</h1>
    <input type="hidden" id="bestbeams" value="{{ bestbeams }}" />
    
    <form method="post" action="/beam" style="display:inline-block;vertical-align:top;">
    {% csrf_token %}
    <div id="leftpanel" style="display:inline-block;vertical-align:top;">
        <!-- <fieldset>
            <legend>Select lat/lon/date/time</legend>
            lat:<input type="text" id="lat"></input>
            <br/>lon:<input type="text" id="lon"></input>
            <br/>date:<input type="text" id="dt"></input>
            <br/>time:<input type="text" id="tm"></input>
            </br><button id="go">go</button>            
        </fieldset> -->
        <fieldset>
        	<span class="btn btn-success fileinput-button">
        		<i class="icon-plus icon-white"></i>
        		<span>Upload File</span>
        		<!-- The file input field used as target for the file upload widget -->
        		<input id="fileupload" type="file" name="uploadfiles">
        		<!-- The container for the uploaded files -->
    			<div id="files" class="files"></div>
    		</span>        
        </fieldset>
    </div>
    </form>
    <div id="map-canvas" style="width:400px;height:400px;display:inline-block;">&nbsp;</div>
    <div id="leftpanel" style="display:inline-block;padding:10px;vertical-align:top;">
        <table id="table">   
        </table>
    </div>


<!-- The basic File Upload plugin -->
<script src="{{STATIC_URL}}js/jquery.fileupload.js"></script>
<script src="{{STATIC_URL}}js/jquery.cookie.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{STATIC_URL}}js/jquery.iframe-transport.js"></script>
<script>
/*jslint unparam: true */
/*global window, $ */
$(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    // Change this to the location of your server-side upload handler:
    var url = (window.location.hostname === 'blueimp.github.com' ||
                window.location.hostname === 'blueimp.github.io') ?
                '//jquery-file-upload.appspot.com/' : '/beam';
    $('#fileupload').fileupload({
    	type:'POST',
        url: url,
        dataType: '', 
        headers: {        	
            'X-CSRFToken': $.cookie('csrftoken')
        },
        submit: function (e, data) {
            $.each(data.files, function (index, file) {
                $('<p/>').text(file.name).appendTo('#files');
            });        	
        	//var input = $('#files');        
            //data.formData = {'example': input.val()};
            return true
        },
        done: function (e,data) {
            parseGEOJSON(document.getElementById("bestbeams").value);
        } 
    });
});
</script>    

  </body>
</html>

